@model SocialNeighbors.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.GenderList = new SelectList(
        new[]
        {
            new { GenderId="Male", GenderDesc="Male"},
            new { GenderId="Female", GenderDesc="Female"}
        }, "GenderId", "GenderDesc"
        );
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Create a new account.</h3>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div id="formFields">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })*@
                @Html.DropDownListFor(m => m.Gender, (IEnumerable<SelectListItem>)ViewBag.GenderList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Avatar, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Avatar, new { @class = "form-control", style = "display:none" })
            </div>
            <span>Please choose a suitable Avatar for yourself</span>
        </div>
        <div class="form-group">
            <img id="avatarImage" src="/Content/Images/Avatars/M0.png" class="col-lg-offset-2 img-circle" />
        </div>
        <br />
        <button id="showHideAvatar" class="btn btn-default col-lg-offset-2">Show/Hide</button>
        <br/>

        <div id="avatarImages" class="form-horizontal" style="display:none">
            <h3>Choose Your Avatar</h3>
            <div id="femaleAvatars" style="display:none">
                <img src="/Content/Images/Avatars/F0.png" class="form-group img-circle" />
                <div class="form-group">
                    <img src="/Content/Images/Avatars/F1.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/F2.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/F3.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/F4.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/F5.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/F6.png" class="col-md-2 img-circle" />
                </div>
            </div>
            <br />
            <div id="maleAvatars">
                <img src="/Content/Images/Avatars/M0.png" class="form-group img-circle" />
                <div class="form-group">
                    <img src="/Content/Images/Avatars/M1.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/M2.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/M3.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/M4.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/M5.png" class="col-md-2 img-circle" />
                    <img src="/Content/Images/Avatars/M6.png" class="col-md-2 img-circle" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Comments, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Address, new { @class = "col-md-4 form-control" })
            </div>
            <input type="button" class="btn btn-default col-md-2" id="btnSearchCoordinates" value="Search Coordinates" />
        </div>
        <div class="form-group">
            @Html.LabelForModel("Location", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Lat, new { @class = "col-md-2 form-control", style = "display: inline; color: green;", @readonly = "readonly" })
                @Html.TextBoxFor(m => m.Lon, new { @class = "col-md-2 form-control", style = "display: inline; color: red;", @readonly = "readonly" })

            </div>
            <input type="button" class="btn btn-default col-md-2" id="btnGetCurrentLocation" value="Get Current Location" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </div>


}

<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document)
        .ready(
            function () {
                //Set Initial Avatar Image as the default Male
                $("#Avatar").val("/Content/Images/Avatars/M0.png");

                //Show Or Hide Avatar Images
                $("#showHideAvatar")
                    .click(function () {
                        $("#avatarImages").toggle("slow");
                        return false;
                    });



                //Get Coordinates for search Location when button is clicked
                $("#btnGetCurrentLocation")
                    .click(function () {
                        getGeoLocation();
                        return false;
                    });

                //On Click Of the avatar images, the image should get loaded
                $("#femaleAvatars").find('img').click(function () {
                    $("#avatarImage").attr("src", $(this).attr("src"));
                    $("#Avatar").val($(this).attr("src"));
                }
                    );

                $("#maleAvatars").find('img').click(function () {
                    $("#avatarImage").attr("src", $(this).attr("src"));
                    $("#Avatar").val($(this).attr("src"));
                }
                    );


                //On Change of Gender Dropdown, Toggle Avatars
                $("#Gender")
                    .change(
                        function () {
                            $("#femaleAvatars").toggle("slow");
                            $("#maleAvatars").toggle("slow");
                            if ($(this).val() == 'Male') {
                                $("#avatarImage").attr("src", "/Content/Images/Avatars/M0.png");
                                $("#avatarImage").val("/Content/Images/Avatars/M0.png");
                            }
                            else {
                                $("#avatarImage").attr("src", "/Content/Images/Avatars/F0.png");
                                $("#avatarImage").val("/Content/Images/Avatars/F0.png");
                            }
                        });


                //On Click of Search Address Button, get the address

                $("#btnSearchCoordinates").click(


                    function () {
                        console.log("Validate button Called");

                        var address = $("#Address").val();

                        $.ajax({
                            url: "/GeoLocation/GetLocationCoordinates/"
                            //, dataType: 'json'
                                ,
                            contentType: 'application/json'
                            // in MVC you would pass in your query string or form
                            // parameters into the data property
                                ,
                            data: { 'address': address },
                            method: 'Get'
                        })
                            .done(
                                function (responseJSON, status, xhr) {
                                    var latitude = parseFloat(responseJSON.Latitude);
                                    var longitude = parseFloat(responseJSON.Longitude);

                                    if (latitude == 0 & longitude == 0) {
                                        alert("Location Not Found. Please refine your address");
                                    }

                                    $("#Lat").val(latitude);
                                    $("#Lon").val(longitude);

                                }
                            )
                            .error(
                                function (xhr, status, error) {
                                    alert("Location Not Found. Please refine your address");
                                });
                        return false;
                    });


            }
        );

    function getGeoLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {

                $("#Lat").val(p.coords.latitude);
                $("#Lon").val(p.coords.longitude);
            });
        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }

</script>
